$red: rgb( 184, 31, 64);
$brown: rgb(210, 180, 124);
$orange:rgb(231, 121, 93);
$green: rgb(3, 182, 156);
$cyan:rgb(72, 159, 192);
$blue: rgb(08, 85, 140);
$darkgray: rgb(87, 87, 86);
$gray: rgb(178, 178, 178);
$lightgray: rgb(240, 240, 240);
$bluegray: rgb(164, 188, 201);