<div class="signup">
  <header>
    <h1>Signup</h1>
  </header>
  <form>

    <label for="name">
      Username
    </label>
    <input type="text" id="name">

    <label for="home_planet">
      Heimatplanet
    </label>
    <input type="text" id="home_planet">

    <label>
      Geschlecht
    </label>
    <fieldset>
      <div class="radio">
        <input type="radio" id="undecided" name="gender" value="Unentschlossen">
        <label for="undecided">Unentschlossen</label>
      </div>
      <div class="radio">
        <input type="radio" id="man" name="gender" value="Mann">
        <label for="man">Mann</label>
      </div>
      <div class="radio">
        <input type="radio" id="woman" name="gender" value="Frau">
        <label for="woman">Frau</label>
      </div>
    </fieldset>

    <label for="age">
      Alter
    </label>
    <input type="text" id="age">

    <label for="mail">
      E-Mail Adresse
    </label>
    <input type="text" id="mail">

    <div class="credit_card_wrapper">
      <label for="credit_card">
        Kreditkartennummer
      </label>

      <div class="no_cb">
        <input type="checkbox" id="no_credit_card">
        <label for="no_credit_card">
          Ich habe keine Kreditkarte
        </label>
      </div>
    </div>
    <input type="text" id="credit_card">

    <div class="side_by_side">
      <div>
        <label for="brutto">
          Bruttoeinkommen
        </label>
        <input type="text" id="brutto">
      </div>

      <div>
        <label for="netto">
          Nettoeinkommen
        </label>
        <input type="text" id="netto">
      </div>

      <div>
        <label for="tax">
          Abgaben in %
        </label>
        <input type="text" id="tax">
      </div>
    </div>

    <label for="pet">
      <input type="checkbox" id="pet">
      Ich möchte mein Haustier mitversichern
    </label>

    <label for="pet_name">
      Name des Haustieres
    </label>
    <input type="text" id="pet_name">

    <label>
      Art des Haustieres
    </label>
    <fieldset>
      <div class="radio">
        <input type="radio" id="cat" name="pet_type" value="Cat">
        <label for="cat">Katze</label>
      </div>
      <div class="radio">
        <input type="radio" id="dog" name="pet_type" value="Mann">
        <label for="dog">Hund</label>
      </div>
      <div class="radio">
        <input type="radio" id="other" name="pet_type" value="Frau">
        <label for="other">Anderes</label>
      </div>
    </fieldset>

    <div class="form_btns">
      <input type="reset" value="Reset">

      <input type="submit" value="Submit">
    </div>

  </form>
  <footer>
    &copy; by me
  </footer>
</div>
