@import './app/styles/colors.scss';

/* You can add global styles to this file, and also import other style files */

html,
body {
    margin: 0;
    padding: 0;
    color: $darkgray;
}

body {
    background-image: url('/assets/images/background.png');
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    h1 {
        font-family: "Century Gothic", "Muli", sans-serif;
        font-size: 24px;
    }
}