@import './app/styles/colors.scss';

/* You can add global styles to this file, and also import other style files */

html,
body {
  margin: 0;
  padding: 0;
  color: $darkgray;
}

body {
  background-image: url('/assets/images/background.png');
  background-repeat: no-repeat;
  background-size: cover;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 16px;
  h1 {
    font-family: "Century Gothic", "Muli", sans-serif;
    font-size: 24px;
  }
}

.root {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
}

body {
  header,
  main,
  form,
  footer {
    width: 80%;
    max-width: 640px;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
  }
  header,
  footer,
  form input {
    border: 2px solid $bluegray;
    border-radius: 4px;
    padding: 4px;
    margin-top: 10px;
  }
  header {
    perspective: 100px;
    h1 {
      text-align: center;
      transform: rotateX(45deg);
      color: gold;
      text-shadow: 0 0 10px black;
    }
  }
  footer {
    margin-bottom: 10px;
  }
  main, form {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
  }
  .chat {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    .chat-message-list, .chat-message-input {
      border: 2px solid $bluegray;
      border-radius: 4px;
      padding: 4px;
      margin-top: 10px;
      display: block;
      width: 100%;
      padding: 4px;
      box-sizing: border-box;
    }
    .chat-message-list {
      flex-grow: 1;
      overflow-y: auto;
    }
    .chat-message {
      display: block;
      + .chat-message {
        margin-top: 1em;
      }
      &.right {
        margin-left: 40px;
      }
      &.left {
        margin-right: 40px;
        .chat-message-user {
          text-align: left;
          padding-left: 8px;
        }
      }
      &.center {
        margin-left: 60px;
        margin-right: 60px;
        .chat-message-user {
          text-align: center;
          padding-left: 8px;
        }
      }
      &.alert-info {
        .chat-message-content {
          background-color: $cyan;
          text-align: center;
          color: $lightgray;
        }
      }
      .chat-message-content {
        background-color: $lightgray;
        color: $darkgray;
        padding: 8px;
        border-radius: 8px;
      }
      .chat-message-user {
        text-align: right;
        padding-right: 8px;
      }
    }

    .chat-message-input {
      flex-shrink: 0;
      display: flex;
      flex-direction: row;
      input {
        flex-grow: 1;
        border-radius: 0;
        border: none;
        background-color: $lightgray;
        color: $darkgray;
        padding: 8px;
        outline: none;
        font-weight: 400;
        margin-right: 1em;
      }
      button {
        flex-shrink: 0;
        border-radius: 0;
        border: none;
        background-color: $lightgray;
        color: $darkgray;
        padding: 8px;
        outline: none;
        font-weight: 700;
        &:hover {
          background-color: $orange;
          color: $lightgray;
        }
        &:active {
          background-color: $red;
        }
        transition: background-color 0.2ms linear;
      }
    }
  }
}

form {
  label {
    margin-top: 20px;
    color: $darkgray;
    &:first-child {
      margin-top: 10px;
    }
  }
  input,
  select {
    height: 20px;
    outline: none;
    margin-top: 5px;
  }

  .form_btns {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    input[type=submit],
    input[type=reset] {
      background-color: $bluegray;
      height: 30px;
      width: 80px;
      color: $lightgray;
      cursor: pointer;
      transition: border-color 0.1s;

      &:active {
        border-color: $blue;
      }
      &:disabled {
        background-color: $lightgray;
        color: $bluegray;
      }
    }
  }

  input[type=text] {
    transition: border-color 1s;
    &:focus {
      border-color: $blue;
    }
  }

  input[type=radio],
  input[type=checkbox] {
    width: 16px;
    position: relative;
    top: 3px;
    cursor: pointer;

    +label {
      cursor: pointer;
    }
  }

  .credit_card_wrapper {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;

    label {
      margin-top: 0;
    }

    .no_cb {
      margin-top: -7px;
      input[type=checkbox] {
        top: 4px;
        right: -6px;
      }
    }

    input {
      margin-top: 0;
    }
  }

  .side_by_side {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    div {
      width: auto;
    }
  }

  input[type=text].ng-touched.ng-invalid,
  input[type=text].dirty.ng-invalid{
    border-color: $red;
  }
}

#pet {
  margin-top: 0;
}
